version: '3'
services:
  dev:
    build: .
    command: sleep infinity
    working_dir: /work
    env_file:
      - ../config/db.env
    environment:
      BASE_URL: /
    volumes:
      - ../:/work:cached
      - ~/.ssh:/root/.ssh
  db:
    image: mariadb:10.9.3
    env_file:
      - ../config/db.env

